@mixin no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

@mixin centerX {
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY {
    top: 50%;
    transform: translateY(-50%);
}

:root {
    --default-font-color: black;
    --body-background: white;
}

body[data-dark=true] {
    --default-font-color: white;
    --body-background: #222;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: var(--default-font-color);
    background: var(--body-background);
    overflow: hidden;
}

#shell {
    position: relative;
}

.draggable {
    color: black;
    cursor: move;
    background: #247BA0;
    display: flex;
    justify-content: center;
    width: 55px;
    height: 22px;
    font-size: 12px;
    position: fixed;
    color: white;
    transition: box-shadow 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
    padding: 2px 6px;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25);
    @include no-select();

    .grounded {
        position: absolute !important;
    }

    &[data-selected=true] {
        border: 2px solid #10b2ea;
    }

    &.pointer:after,
    &.pointer::before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        @include centerY;
        content: '';

    }

    /* this border color controls the color of the triangle (what looks like the fill of the triangle) */
    &.pointer:after {
        border-color: transparent transparent transparent #247BA0;
        border-width: 14px;
    }

    /* this border color controls the outside, thin border */
    &.pointer:before {
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
        border-width: 16px;
    }

    &[data-selected=true].pointer:before {
        border-color: transparent transparent transparent #10b2ea;
    }

    &.square {
        background: white;
        color: black;
        // font-weight: bold;
    }

    &.square-large {
        border-radius: 4px;
        min-width: 80px;
        min-height: 80px;
    }

    &.rounded {
        border-radius: 14px;
    }

    &.condition-block {
        min-width: 120px;
        display: flex;
        min-height: 140px;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        justify-content: space-between;

        .drop-zone,
        .drop-zone-long {
            background: white;
            height: 22px;
            width: 55px;
            cursor: default;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 2px 6px;
            color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .drop-zone-long {
            width: 80%;
        }

        .draggable-input {
            background: white;
            width: 80%;
            height: 20px;
            text-align: center;
            padding: 12px;
        }
    }

    .text {
        margin: auto;
        pointer-events: none;
    }

    .drag-label {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s;
        border-radius: 2px;
        position: absolute;
        bottom: -20px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 2px 10px;
        font-size: 10px;
        transition-delay: 0.5s;
    }

    &:hover .drag-label {
        opacity: 1;
        visibility: visible;
    }

}

.operator-drop {
    border-radius: 14px;
}

.draggable-sticky {
    position: relative;

    &.action-box {
        @include centerX();
    }

    &.operator-box-container {
        @include centerY();
    }

    &.pointer {
        transform: translateX(-35px);
    }
}

.draggable-shadow {
    opacity: 0.5;
    pointer-events: none;
}

.operator-block {
    background: #a0ffa0;
    color: black;
    font-weight: bold;
}

.canvas {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    background-color: #fdfeff;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    left: 192px;
    bottom: 0;
    position: fixed;
}

.action-item-box {
    position: fixed;
    left: 0px;
    bottom: 0;
    top: 80px;
    width: 169px;
    background: white;
    padding: 110px 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.operator-box {
    position: fixed;
    left: 0px;
    top: 0;
    height: 60px;
    background: white;
    padding: 10px 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    right: 0;
    align-items: flex-start;
    justify-content: space-between;
}

.drag-select {
    position: fixed;
    border: 1px solid blue;
    background: rgba(0, 50, 255, 0.08);
}