@mixin no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

@mixin centerX {
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY {
    top: 50%;
    transform: translateY(-50%);
}

:root {
    --default-font-color: black;
    --body-background: white;
}

body[data-dark=true] {
    --default-font-color: white;
    --body-background: #222;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: var(--default-font-color);
    background: var(--body-background);
    overflow: hidden;
}

#shell {
    position: relative;
}

.draggable {
    color: black;
    cursor: move;
    background: #247BA0;
    display: flex;
    justify-content: center;
    width: 55px;
    height: 22px;
    font-size: 12px;
    position: fixed;
    color: white;
    transition: box-shadow 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
    padding: 2px;
    box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.4);
    @include no-select();


    &[data-selected=true] {}

    &.pointer:after,
    &.pointer::before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        @include centerY;
        content: '';

    }

    /* this border color controls the color of the triangle (what looks like the fill of the triangle) */
    &.pointer:after {
        border-color: transparent transparent transparent #247BA0;
        border-width: 14px;
    }

    /* this border color controls the outside, thin border */
    &.pointer:before {
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
        border-width: 15px;
    }

    &.square {}

    &.square-large {
        border-radius: 4px;
        min-width: 80px;
        min-height: 80px;
    }

    .text {
        margin: auto;
    }

}

.draggable-sticky {
    position: relative;

    &.action-box {
        @include centerX();
    }

    &.operator-box-container {
        @include centerY();
    }

    &.pointer {
        transform: translateX(-35px);
    }
}

.draggable-shadow {
    opacity: 0.5;
    pointer-events: none;
}

.canvas {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    background-color: #fdfeff;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    left: 192px;
    bottom: 0;
    position: fixed;
}

.action-item-box {
    position: fixed;
    left: 0px;
    bottom: 0;
    top: 80px;
    width: 169px;
    background: white;
    padding: 110px 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.operator-box {
    position: fixed;
    left: 0px;
    top: 0;
    height: 60px;
    background: white;
    padding: 10px 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    right: 0;
    align-items: flex-start;
    justify-content: space-between;
}