@mixin no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

@mixin centerX {
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY {
    top: 50%;
    transform: translateY(-50%);
}

@mixin center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

:root {
    --default-font-color: black;
    --body-background: white;
}

body[data-dark=true] {
    --default-font-color: white;
    --body-background: #222;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: var(--default-font-color);
    background: var(--body-background);
    overflow: hidden;
}

#shell {
    position: relative;
}

.draggable {
    color: black;
    cursor: move;
    display: flex;
    justify-content: center;
    width: 55px;
    height: 22px;
    font-size: 12px;
    position: fixed;
    color: white;
    transition: box-shadow 0.2s, opacity 0.2s, border 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
    padding: 2px 6px;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    @include no-select();

    .grounded {
        position: absolute !important;
        box-shadow: none;
    }

    &[data-dragging=true] {
        pointer-events: none;
        opacity: 0.4;
    }

    .triangle-crop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            @include centerY;
            content: '';

        }

        &:before {
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
            border-width: 16px;
        }

        &[data-hover=true]::before {
            border-color: transparent transparent transparent cyan;
        }
    }

    &[data-selected=true] {
        border: 2px solid #10b2ea;
        border-right: 2px solid #10b2ea !important;
    }

    &.pointer:after,
    &.pointer::before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        @include centerY;
        content: '';

    }

    /* this border color controls the color of the triangle (what looks like the fill of the triangle) */
    &.pointer:after {
        border-color: transparent transparent transparent #247BA0;
        border-width: 14px;
    }

    /* this border color controls the outside, thin border */
    &.pointer:before {
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
        border-width: 16px;
    }

    &[data-selected=true].pointer:before {
        border-color: transparent transparent transparent #10b2ea;
    }

    &[data-hover=true]:after {
        border-color: transparent transparent transparent cyan;
        border-width: 14px;
    }

    &.square {
        background: white;
        color: black;
        min-width: 55px;
        width: fit-content;
    }

    &.square-large {
        border-radius: 4px;
        min-width: 80px !important;
        min-height: 80px !important;
        background: #247BA0;
    }

    &.rounded {
        border-radius: 14px;
        background: #247BA0;
    }

    &.connector {
        background: #247BA0;
    }

    &.draggable-sticky.connector-large {
        min-width: 80px !important;
        min-height: 80px !important;
    }

    &.connector-large {
        border-radius: 4px;
        background: #247BA0;

        &:after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            @include centerY;
            content: '';

        }

        /* this border color controls the color of the triangle (what looks like the fill of the triangle) */
        &:after {
            border-color: transparent transparent transparent #247BA0;
            border-width: 14px;
        }

        /* this border color controls the outside, thin border */
        &:before {
            border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
            border-width: 16px;
        }

        &[data-hover=true]:after {
            border-color: transparent transparent transparent cyan;
            border-width: 14px;
        }
    }

    &.action-block {
        height: 100px;
        width: 100px;
        background: lightgoldenrodyellow;
        color: black;
        border-right: 2px solid rgba(0, 0, 0, 0.2);

        &:after {
            border-color: transparent transparent transparent lightgoldenrodyellow;
            border-width: 14px;
        }

        &.prepended-action {}

        &.appended-action {
            right: -114px;
            top: -41px;
        }
    }

    &.condition-block {
        border-radius: 4px;
        min-width: 100px;
        display: flex;
        min-height: 140px;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        justify-content: space-between;
        background: #B2DBBF;
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        color: black;

        &.prepended-condition {
            top: -71px;
            right: 65px;
        }

        &.appended-condition {
            top: -71px;
            left: 65px;
        }

        &:after {
            border-color: transparent transparent transparent #B2DBBF;
            border-width: 14px;
        }

        .drop-zone,
        .drop-zone-long {
            background: white;
            height: 22px;
            width: 55px;
            cursor: default;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 2px 6px;
            color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            margin: 8px 0;

            &.hover {
                box-shadow: 0 0 8px 2px cyan;
            }
        }

        .drop-zone-long {
            width: 95%;
        }

        .draggable-input {
            background: white;
            width: 80%;
            height: 20px;
            text-align: center;
            padding: 12px;
        }
    }

    &.connector .text {
        transform: translateX(5px);
        top: 50%;
        transform: translateY(-50%) translateX(5px);
    }

    .drag-label {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s;
        border-radius: 2px;
        position: absolute;
        bottom: -20px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 2px 10px;
        font-size: 10px;
        transition-delay: 0.5s;
    }

    &:hover .drag-label {
        opacity: 1;
        visibility: visible;
    }
}

.hide-label {
    border: 0 !important;
    background: transparent !important;
}

.large-box-title {
    width: 100%;
    text-align: center;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.05);
}

.prepended-connector {
    @include centerY;
    position: absolute;
    left: -70px;
}

.appended-connector {
    @include centerY;
    position: absolute;
    right: -69px;
}

.text {
    @include centerY;
    position: relative;
    height: fit-content;
    font-weight: bold;
    font-size: 11px;
}

.operator-drop {
    border-radius: 14px;
}

.draggable-sticky {
    position: relative;
    text-align: center;
    opacity: 1 !important;

    &.vertical-box {
        @include centerX();
    }

    &.horizontal-box {
        @include centerY();
    }

    &.pointer {
        transform: translateX(-40px);
    }
}

.draggable-shadow {
    opacity: 0.5;
    pointer-events: none;
    text-align: center;
}

.operator-block {
    font-weight: bold;
}

.canvas {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    background-color: #fdfeff;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    left: 192px;
    bottom: 0;
    position: fixed;
}

.action-item-box {
    position: fixed;
    left: 0px;
    bottom: 80px;
    top: 80px;
    width: 169px;
    background: white;
    padding: 50px 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.operator-box {
    position: fixed;
    left: 191px;
    top: 0;
    height: 58px;
    background: white;
    padding: 10px 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    right: 0;
    align-items: flex-start;
    justify-content: space-between;
}

.variable-box-container {
    position: fixed;
    left: 191px;
    bottom: 0;
    height: 58px;
    background: white;
    padding: 10px 100px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    right: 0;
    align-items: flex-start;
    justify-content: space-between;
}

.drag-select {
    position: fixed;
    border: 1px solid blue;
    background: rgba(0, 50, 255, 0.08);
}